<!-- iOS partials for default, check /merges/ for android and windows -->
<!--<ion-tabs class="tabs-icon-top tabs-color-active-calm tabs-stable fade-in-not-out">
    <ion-tab title="{{'my-tab.TAB_TITLE' | translate}}" 
             icon-off="ion-ios-home-outline" 
             icon-on="ion-ios-home" 
             ng-click="vm.rt('tabs.myEvents')"
             badge="vm.myEventBadge" badge-style="badge-assertive">
        <ion-nav-view name="my-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'list-tab.TAB_TITLE' | translate}}" 
             icon-off="ion-ios-list-outline"
             icon-on="ion-ios-list" 
             ng-click="vm.rt('tabs.list')">
        <ion-nav-view name="list-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="{{'map-tab.TAB_TITLE' | translate}}"
             icon-off="ion-ios-world-outline" 
             icon-on="ion-ios-world" 
             ng-click="vm.rt('tabs.map')">
        <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'create.TAB_TITLE' | translate}}" 
             icon-off="ion-ios-plus-outline" 
             icon-on="ion-ios-plus"
             ng-click="vm.rt('tabs.createEvent')">
        <ion-nav-view name="create"></ion-nav-view>
    </ion-tab>
    
</ion-tabs>-->
<ion-nav-view name="main-tab"></ion-nav-view>