<!-- iOS partials for default, check /merges/ for android and windows -->
<ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-left text-left">
        Назад
    </ion-nav-back-button>
    
    <ion-nav-buttons side="left">
        <button menu-toggle="left" 
                class="button  button-clear button-calm icon ion-navicon"></button>
    </ion-nav-buttons>

     <ion-nav-buttons side="right">
         <!--<button menu-toggle="right" ng-click="vm.authToggle()" 
                class="button button-clear button-calm icon ion-person" ng-class="{'button-balanced':vm.loggedIn}" ></button>
        <button menu-toggle="right" ng-click="vm.showDebug()" 
                class="button {{vm.showFilter}} button-clear button-calm icon ion-help-buoy" ></button>-->
    </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view animation="slide-left-right"></ion-nav-view>